.title{
    width: 100%;
    height:45px;
    position: relative;
    background-color: #fff;
    text-align: center;
}

.title .list{
    width: 33%;
    height:45px;
    float: left;
}
.title .list h5{
    padding-top: 10px;
    color: #4a4a4a;
}
.title .list .red{
    color: #fe504f;
}

.title .list .red img{
    position: relative;
    bottom:13px;
    left:25px;
    width: 8px;
    height:13px;
}
.none{
    width: 100%;
    text-align: center;
}
.none img{
    height:50px;
    width: 50px;
    margin-top: 50%;
    margin-bottom: 20px;

}
