<!--index -->
  <include file="public:index"   />
<!--index-->
<script type="text/javascript" src="__PUBLIC__/timejs/laydate.js"></script>
<title>商品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>
 系统 <span class="c-gray en">&gt;</span>
  报表管理 <span class="c-gray en">&gt;</span>
   维修类型汇总信息
   <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <form action="{:U('/home/statist/fault_forms/search/')}" method="post/get" name="main_form" class="form form-horizontal" id="form-admin-add" style="float:right;">
        <div class="text-c">
        <input placeholder="订单开始时间" class="laydate-icon" style="height:29px;" value="{$search['time1']}" name="time1" id="time1" onClick="laydate({istime: true, format: 'YYYY-MM-DD '})">-
				<input placeholder="订单结束时间" class="laydate-icon" style="height:29px;" value="{$search['time2']}" name="time2" id="time2" onClick="laydate({istime: true, format: 'YYYY-MM-DD '})">
            <span class="select-box inline">
            <select name="fault" class="select">
                <if condition="$search['fault'] eq null">
                    <option value="">全部状态</option>
                    <foreach name='fault' item='v'>
                        <option value="{$v['id']}">{$v['name']}</option>
                    </foreach>
                <else />
                		<foreach name='fault' item='v'>
                			<if condition="$search['fault'] eq $v['id']">
                        <option value="{$v['id']}">{$v['name']}</option>
                      <else /> 
                			</if> 
                   </foreach>
                   <foreach name='fault' item='v'>
                			<if condition="$search['fault'] eq $v['id']">                       
                      <else /> 
                      <option value="{$v['id']}">{$v['name']}</option>
                			</if> 
                   </foreach>
                    <option value="">全部状态</option>
                </if>
            </select>
            </span>
            <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            <input type="submit" class="btn btn-danger radius" value="导出" onclick="return excel()" style="background-color: #f5862e;border-color: #f5862e;" />
        </div>
    </form>
    <div class="text-c"><br></div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
        <!--<a href="{:U('/home/fault/faultadd')}" class="btn btn-primary radius"> 新增 </a>-->
        </span>&nbsp;
        <!-- <input type="submit" class="btn btn-danger radius" value="删除" onclick="return Check()" /> --><!-- <i class="Hui-iconfont">&#xe6e2;</i> -->
        <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th scope="col" colspan="10">维修类型汇总信息列表</th>
            </tr>
            <tr class="text-c">
                <th width="40">维修类型编号</th>
                <th width="40">维修类型名称</th>
                <th width="40">订单总数</th>
                <th width="40">上门服务费用总额</th>
                <th width="40">订单维修费用总额</th>
            </tr>
        </thead>
        <tbody>
            <foreach name='data' item='v'>
                <tr class="text-c">
                   <td>{$v['fault_num']}</td>
                    <td>{$v['name']}</td>
                    <td>{$v['ordernum']}</td>                   
                    <td>{$v['s_money_num']}</td>
                    <td>{$v['money_num']}</td>
                </tr>
            </foreach>
        </tbody>
    </table>
    <div class="pageright">{$page}</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">

function excel(){
    document.forms.main_form.action="{:U('/home/statist/fault_forms_sexcel/excel')}";
    document.forms.main_form.submit();
}
/*
    参数解释：
    title   标题
    url     请求的url
    id      需要操作的数据id
    w       弹出层宽度（缺省调默认值）
    h       弹出层高度（缺省调默认值）
*/
/*用户-查看*/
function member_show(title,url,id,w,h){
    layer_show(title,url,w,h);
}
/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
    layer_show(title,url,w,h);
}
//批量删除判断是否选择
function Check()
{
var chks=document.getElementsByTagName('input');
var bl=true;
for(var i=0;i<chks.length;i++)
{
    if(chks[i].checked)
    {
        bl=false;
        break;
    }
}
if(bl){
    alert('最少选择一个');
    return false;
}
}
</script>
</body>
</html>