<!--index -->
<include file="public:index"   />
<!--index-->
<title>商品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>
 系统 <span class="c-gray en">&gt;</span>
  商品管理 <span class="c-gray en">&gt;</span>
   商品规格分类
   <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <form action="{:U('/home/goodsattribute/goodsattributeindex/search/')}" method="post/get" name="main_form" class="form form-horizontal" id="form-admin-add" style="float:right;">
        <div class="text-c">
            <input type="text" id="name" name="name" value="{$search['name']}" class="input-text" style="width:250px" placeholder="输入分类名称">
            <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="text-c"><br></div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
        <a href="{:U('/home/goodsattribute/goodsattributeadd')}" class="btn btn-primary radius"> 新增 </a></span>&nbsp;
        <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr>
                <th scope="col" colspan="6">分类列表</th>
            </tr>
            <tr class="text-c">
                <th width="40">操作</th>
                <th width="40">编号</th>
                <th width="40">分类名称</th>
                <th width="40">所属三级分类</th>
            </tr>
        </thead>
        <tbody>
            <foreach name='data' item='v'>
                <tr class="text-c">
                    <td class="td-manage">
                    <a class="btn btn-primary size-MINI radius" href="{:U('/home/goodsattribute/goodsattributeupdate',array('id'=>$v['id']))}">编辑</a>
                    <a class="btn btn-primary size-MINI radius" href="{:U('/home/goodsattribute/goodsattributedel',array('id'=>$v['id']))}" onclick="return confirm('确认要删除吗？');">删除</a>
                    </td>
                    <td>{$v['number']}</td>
                    <td>{$v['name']}</td>
                    <td>{$v['gca_name']}</td>
                </tr>
            </foreach>
        </tbody>
    </table>
    <div class="pageright">{$page}</div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

</script>