<!--index -->
<include file="public:index" />
<!--index-->
<title>分类新增</title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 系统<span class="c-gray en">&gt;</span> 资讯管理<span class="c-gray en">&gt;</span> 分类信息<span class="c-gray en">&gt;</span> 新增 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="#" onClick="javascript :history.go(-1);" title="返回"><i class="Hui-iconfont">&#xe66b;</i></a><a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="pd-20">
        <div class="pd-20">
            <form action="{:U('/home/informationclass/informationclassadd')}" method="post" enctype="multipart/form-data" name="main_form" class="form form-horizontal" id="form-admin-add">
                <div class="row cl" style="">

                    <div class="row cl">
                        <label class="form-label col-3"><span class="c-red">*</span>分类编号：</label>
                        <div class="formControls col-5">
                            <input type="text" class="input-text" value="" placeholder="请输入分类编号" id="number" name="number" datatype="*2-16">
                        </div>
                        <div class="col-4"> </div>
                    </div>

                    <div class="row cl">
                        <label class="form-label col-3"><span class="c-red">*</span>分类名称：</label>
                        <div class="formControls col-5">
                            <input type="text" class="input-text" value="" placeholder="请输入分类名称" id="name" name="name" datatype="*2-16">
                        </div>
                        <div class="col-4"> </div>
                    </div>



                    <!--<div class="row cl">-->
                        <!--<label class="form-label col-3"><span class="c-red">*</span>是否帮助中心分类：</label>-->
                        <!--<div class="formControls col-5 skin-minimal">-->
                            <!--<div class="radio-box">-->
                                <!--<input type="radio" name="is_help" value="1">-->
                                <!--<label>是</label>-->
                            <!--</div>-->
                            <!--<div class="radio-box">-->
                                <!--<input type="radio" name="is_help" value="0" checked="true">-->
                                <!--<label>否</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-4"> </div>-->
                    <!--</div>-->

                    <div class="col-9 col-offset-3" style="margin-top:10px;">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" onclick="return check()">
                        <input class="btn btn-primary radius" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
        <script type="text/javascript">
        function check() {
            if ($('#number').val() == "") {
                alert("分类编号不能为空!");
                return false;
            }
            if ($('#name').val() == "") {
                alert("分类名称不能为空!");
                return false;
            }
            return true;
        }
        </script>
</body>

</html>
